$mainContainerWidth: 600px;
$mainContainerHeight:400px;

$colorBlueLighten2:#00a0e5;
$colorBlueLighten1:#006f9f;
$colorBlue: #005a81;
$colorBlueDarken1:#004766;
$colorBlueDarken2:#003146;

$baseVSBlack: #303030;

$zano-container-animation-time:1000ms;
$triangle-animation-time:500ms;

//$quick-ease-in:cubic-bezier(0,1,.71,1);
$quick-ease-in:cubic-bezier(.19,.92,.23,1);
