@font-face {
  font-family: spaceFont;
  src: url(../fonts/orbitron-medium.otf);
}
body {
  background: linear-gradient(#303030, #444444 45%, #444444 55%, #303030);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#bottom-left-curtain {
  display: none;
  position: absolute;
  left: -299px;
  top: 0;
  width: 400px;
  height: 400px;
  background: linear-gradient(45deg, #005981, #005981 90%, #196a8e);
  border-bottom: 1px solid #196a8e;
  border-left: 1px solid #196a8e;
}
#bottom-left-curtain::after {
  content: "";
  display: block;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  margin-left: -1px;
  left: 400px;
  background: linear-gradient(45deg, #005981, #005981 40%, #196a8e 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
  border-bottom: 1px solid #196a8e;
}
#top-right-curtain {
  display: none;
  position: absolute;
  right: 299px;
  top: 0;
  width: 400px;
  height: 400px;
  background: linear-gradient(45deg, #196a8e, #005981 10%, #005981);
  border-bottom: 1px solid #196a8e;
  border-right: 1px solid #196a8e;
}
#top-right-curtain::before {
  content: "";
  display: block;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  margin-left: 1px;
  left: -400px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, #196a8e 50%, #005981 60%, #005981);
  border-bottom: 1px solid #196a8e;
}
#bottom-left-triangle {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(45deg, #303030, #003146 20%, #004766 49%, #006f9f 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
  -moz-animation: bottom-left-triangle 1s 1 ease-in-out;
  -o-animation: bottom-left-triangle 1s 1 ease-in-out;
  -webkit-animation: bottom-left-triangle 1s 1 ease-in-out;
  animation: bottom-left-triangle 1s 1 ease-in-out;
}
@keyframes bottom-left-triangle {
  0% {
    left: -100px;
  }
  50% {
    left: 0;
  }
}
@-webkit-keyframes bottom-left-triangle {
  0% {
    left: -100px;
  }
  50% {
    left: 0;
  }
}
#top-right-triangle {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, #006f9f 50%, #004766 51%, #003146 80%, #303030);
  -moz-animation: intro-lowerleft-triangle 1s 1 ease-in-out;
  -o-animation: intro-lowerleft-triangle 1s 1 ease-in-out;
  -webkit-animation: intro-lowerleft-triangle 1s 1 ease-in-out;
  animation: intro-lowerleft-triangle 1s 1 ease-in-out;
}
@keyframes intro-lowerleft-triangle {
  0% {
    right: -100px;
  }
  50% {
    right: 0;
  }
}
@-webkit-keyframes intro-lowerleft-triangle {
  0% {
    right: -100px;
  }
  50% {
    right: 0;
  }
}
#zano-container {
  -moz-animation: intro 1s 1 ease-in-out;
  -o-animation: intro 1s 1 ease-in-out;
  -webkit-animation: intro 1s 1 ease-in-out;
  animation: intro 1s 1 ease-in-out;
  position: absolute;
  left: 50%;
  margin-left: -300px;
  top: 200px;
  width: 600px;
  height: 400px;
  background: linear-gradient(#005983, #01577d);
  border: 1px solid #076593;
  box-shadow: 10px 10px 10px #303030;
  overflow: hidden;
  /*#2top-right-triangle{
        .custom-animation-frames(top-right-triangle, 1s, 1, ease-in-out, 
        {
            0%{-moz-animation-delay:2s; -o-animation-delay:2s; -webkit-animation-delay:2s; animation-delay:2s;}
            0%{right:-200px;}
            50%{right:0;}
        });  
    }

    #2bottom-left-triangle{
        .custom-animation-frames(bottom-left-triangle, 1s, 1, ease-in-out, 
        {
            0%{-moz-animation-delay:2s; -o-animation-delay:2s; -webkit-animation-delay:2s; animation-delay:2s;}
            0%{left:200px; top:-300px;}
            50%{left:200px; top:-300px;}
            100%{top:-300px;}
        });  
    }*/
}
@keyframes intro {
  0% {
    width: 400px;
    margin-left: -200px;
    height: 10px;
    top: 400px;
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    width: 600px;
    margin-left: -300px;
    height: 10px;
    top: 400px;
  }
  100% {
    height: 400px;
  }
}
@-webkit-keyframes intro {
  0% {
    width: 400px;
    margin-left: -200px;
    height: 10px;
    top: 400px;
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    width: 600px;
    margin-left: -300px;
    height: 10px;
    top: 400px;
  }
  100% {
    height: 400px;
  }
}
#zano-container #bottom-left-curtain {
  -moz-animation: left-curtain 4s infinite ease-in-out;
  -o-animation: left-curtain 4s infinite ease-in-out;
  -webkit-animation: left-curtain 4s infinite ease-in-out;
  animation: left-curtain 4s infinite ease-in-out;
}
@keyframes left-curtain {
  0% {
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  0%,
  100% {
    left: -299px;
  }
  50% {
    left: -400px;
  }
}
@-webkit-keyframes left-curtain {
  0% {
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  0%,
  100% {
    left: -299px;
  }
  50% {
    left: -400px;
  }
}
#zano-container #top-right-curtain {
  -moz-animation: right-curtain 4s infinite ease-in-out;
  -o-animation: right-curtain 4s infinite ease-in-out;
  -webkit-animation: right-curtain 4s infinite ease-in-out;
  animation: right-curtain 4s infinite ease-in-out;
}
@keyframes right-curtain {
  0% {
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  0%,
  100% {
    right: -299px;
  }
  50% {
    right: -400px;
  }
}
@-webkit-keyframes right-curtain {
  0% {
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  0%,
  100% {
    right: -299px;
  }
  50% {
    right: -400px;
  }
}
#zano-container #menu {
  font-family: spaceFont;
  color: white;
  position: absolute;
  top: 200px;
}
#zano-container #menu ul {
  list-style-type: none;
  padding-left: 20px;
}
#zano-container #menu .item1,
#zano-container #menu .item2,
#zano-container #menu .item3,
#zano-container #menu .item4 {
  margin-bottom: 20px;
}
#zano-container #menu .item1 {
  padding-left: 0px;
}
#zano-container #menu .item2 {
  padding-left: 40px;
}
#zano-container #menu .item3 {
  padding-left: 80px;
}
#zano-container #menu .item4 {
  padding-left: 120px;
}
/*# sourceMappingURL=home.css.map */