@import "cssMixins.less";

@width: 600px;
@height:400px;

@baseBlueLighten2:#00a0e5;
@baseBlueLighten1:#006f9f;
@baseBlue: #005a81;
@baseBlueDarken1:#004766;
@baseBlueDarken2:#003146;

body{

    background: linear-gradient(#303030, #444444 45%,  #444444 55%, #303030 );
    height:100%;
    background-repeat: no-repeat;
    background-attachment: fixed; //makes it so that when you scroll, background will not
}

@curtain_size: 400px;
#css_lowerleft_curtain{
    
    position:absolute;
    left:-299px;   
    top:0; 
    width:@curtain_size;
    height:@curtain_size;
    background: linear-gradient(45deg,  #005981, #005981 90%,  #196a8e);
    border-bottom:1px solid #196a8e;
    border-left:1px solid #196a8e;

    &::after{
        content:"";
        display:block;
        width: @curtain_size;
        height:@curtain_size;
        position:absolute;
        top:0;
        margin-left:-1px;
        left:@curtain_size;
        background: linear-gradient(45deg,  #005981, #005981 40%,  #196a8e 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0));
        border-bottom:1px solid #196a8e;
    }
}

#css_topright_curtain{

    position:absolute;
    left:499px;   
    top:0; 
    width:@curtain_size;
    height:@curtain_size;
    background: linear-gradient(45deg,  #196a8e, #005981 10%, #005981);
    border-bottom:1px solid #196a8e;
    border-right:1px solid #196a8e;

    &::before{
        content:"";
        display:block;
        width: @curtain_size;
        height:@curtain_size;
        position:absolute;
        top:0;
        margin-left:1px;
        left:-1 * @curtain_size;
        background: linear-gradient(45deg, rgba(0,0,0,0), rgba(0,0,0,0) 50%, #196a8e 50%,  #005981 60%, #005981);
        //background: linear-gradient(45deg,  #005981, #005981 40%,  #196a8e 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0));

        border-bottom:1px solid #196a8e;;
    }
}

#css_lowerleft_triangle{

    width: 300px;
    height:300px;
    position:absolute;
    top:100px;
    left:0;
    background: linear-gradient(45deg, #303030, @baseBlueDarken2 20%,  @baseBlueDarken1 49%, @baseBlueLighten1 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0));

    .custom-animation-frames(intro-lowerleft-triangle, 1s, 1, ease-in-out, {
        0%{
            top:0;    
            left:200px;     
        }
        50%{          
            top:0;
            left:0;
        }
        100%{
            top:100px;
        }
    });
}

#css_topright_triangle{

    width: 300px;
    height:300px;
    position:absolute;
    top:0;
    right:0;
    background: linear-gradient(45deg, rgba(0,0,0,0), rgba(0,0,0,0) 50%, @baseBlueLighten1 50%, @baseBlueDarken1 51%, @baseBlueDarken2 80%, #303030);

    .custom-animation-frames(intro-lowerleft-triangle, 1s, 1, ease-in-out, {
        0%{
            top:0;    
            right:100px;     
        }
        50%{          
            top:0;
            right:0;
        }

    });

}

#zano-container{


    .custom-animation-frames(intro, 1s, 1, ease-in-out, {
        0%{
            width:200px;
            margin-left:-150px;  
            height:10px; 
           // top:400px;         
        }

        50%{          
            width:600px;
            margin-left:-300px;  
            height:10px;
            //top:400px;
        }
        100%{
            height:400px;
            //top:200px;
        }
    });

    position:absolute;
    left:50%;
    margin-left: -1 * @width/2;
    top:200px;
    width:@width;
    height:@height;
    background: linear-gradient(#005983, #01577D);
    //border-image: linear-gradient(blue, red);
    //border-radius:10px;
    border:1px solid #076593;
    box-shadow:10px 10px 10px #303030;
    overflow:hidden;

    #bottom-left-triangle, #top-right-triangle{
        width:300px;
        height:300px;
        position:absolute;        
    }

    #bottom-left-triangle{
        background-image: url(../images/bottom-left-triangle.png);
        top:200px;
    }

    #top-right-triangle{
        background-image: url(../images/top-right-triangle.png);
        right:0;
    }

    #bottom-left-curtain, #top-right-curtain{
        width:500px;
        height:500px;
        position:absolute;
        top:-1px;
    }

    #css_lowerleft_curtain{
        //background-image: url(../images/bottom-left-curtain.png);

        .custom-animation-frames(left-curtain, 4s, infinite, ease-in-out, 
        {
            0%{-moz-animation-delay:2s; -o-animation-delay:2s; -webkit-animation-delay:2s; animation-delay:2s;}
            0%,100%{
                left:-299px;
            }
            50%{left:-400px;}
        });  
    }

    #css_topright_curtain{

        .custom-animation-frames(right-curtain, 4s, infinite, ease-in-out, 
        {
            0%{-moz-animation-delay:2s; -o-animation-delay:2s; -webkit-animation-delay:2s; animation-delay:2s;}
            0%,100%{left:499px;}
            50%{left:600px;}
        });  
    }

    #menu{
        color:white;
        position:absolute;
        top:200px;
        @indent: 40px;

        & ul{
            list-style-type:none;
            padding-left:20px;
        }

        .item1, .item2, .item3, .item4{
            margin-bottom:20px;
        }

        .item1{padding-left:@indent * 0;}
        .item2{padding-left:@indent * 1;}
        .item3{padding-left:@indent * 2;}
        .item4{padding-left:@indent * 3;}
    }

    
}