//https://github.com/sass/libsass/issues/353

$mainContainerWidth: 600px;
$mainContainerHeight:400px;

$colorBlueLighten2:#00a0e5;
$colorBlueLighten1:#006f9f;
$colorBlue: #005a81;
$colorBlueDarken1:#004766;
$colorBlueDarken2:#003146;

$baseVSBlack: #303030;

$zano-container-animation-time:1000ms;
$triangle-animation-time:500ms;

//$quick-ease-in:cubic-bezier(0,1,.71,1);
$quick-ease-in:cubic-bezier(.19,.92,.23,1);



@mixin setSize($width, $height){
    width:$width;
    height:$height;
}

@mixin setPosition($position, $left, $top, $right, $bottom){
    position: $position;
    @if $left != null{left: $left;}
    @if $top != null{top: $top;}
    @if $right != null {right: $right;}    
    @if $bottom != null {bottom: $bottom;}
}

@mixin setSizeAndPosition($width, $height, $position, $left, $top, $right, $bottom, $margin-left){
    @include setSize($width, $height);
    @include setPosition($position, $left, $top, $right, $bottom);
    margin-left: $margin-left;
}

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}


@mixin customAnimationFrames($name, $duration, $timing, $repeat, $delay, $fillMode) {
    
    -moz-animation: $name $duration $timing $repeat;
    -o-animation: $name $duration $timing $repeat;
    -webkit-animation: $name $duration $timing $repeat;
    animation: $name $duration $timing $repeat;

    @if $delay != null {
        -moz-animation-delay: $delay;
        -o-animation-delay: $delay;
        -webkit-animation-delay: $delay;
        animation-delay: $delay;
    }

    @if $fillMode != null {
        -moz-animation-fill-mode: $fillMode;
        -o-animation-fill-mode: $fillMode;
        -webkit-animation-fill-mode: $fillMode;
        animation-fill-mode: $fillMode;
    }
    /*@at-root{
        @keyframes #{$name}{
            @content;
        }

        @-webkit-keyframes #{$name}{
            @content;
        }
    }*/
}

@mixin customKeyFrames($name){
    @keyframes #{$name}{
        @content;
    }

    @-webkit-keyframes #{$name}{
        @content;
    }
}




body{
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(#303030, #444444 45%,  #444444 55%, #303030 );
    height:100%;
    background-repeat: no-repeat;
    background-attachment: fixed; //makes it so that when you scroll, background will not
}

$curtain_size:400px;
#bottom-left-curtain{

    @include setSizeAndPosition(
        $curtain_size, 
        $curtain_size, 
        absolute, 
        -300px, 
        0, 
        null, 
        null,
        null
    );

    background: linear-gradient(45deg,  $colorBlue, $colorBlue 90%,  $colorBlueLighten1);
    &::after{
        content:"";
        display:block;
        @include setSizeAndPosition($curtain_size, $curtain_size, absolute, $curtain_size, 0, null, null, null);
        background: linear-gradient(45deg,  $colorBlue, $colorBlue 40%,  $colorBlueLighten1 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0));
    }
    @include customAnimationFrames(bottom-left-curtain, $triangle-animation-time, $quick-ease-in, 1, $zano-container-animation-time + $triangle-animation-time, forwards);

    &.animate-in{
        @include customAnimationFrames(open-left-curtain, $triangle-animation-time, $quick-ease-in, 1, null, forwards);
    }

    &.animate-out{
        @include customAnimationFrames(close-left-curtain, $triangle-animation-time, $quick-ease-in, 1, null, forwards);
    }
}

@include customKeyFrames(open-left-curtain){
    100%{left:-500px;}
}

@include customKeyFrames(close-left-curtain){
    0%{left:-500px;}
    100%{left:-300px;}
}

#top-right-curtain{

    @include setSizeAndPosition($curtain_size, $curtain_size, absolute, null, 0, -300px, null,null);
    background: linear-gradient(45deg,  $colorBlueLighten1, $colorBlue 10%, $colorBlue);
    &::before{
        content:"";
        display:block;
        @include setSizeAndPosition($curtain_size, $curtain_size, absolute, null, 0, $curtain_size, null,null);
        background: linear-gradient(45deg, rgba(0,0,0,0), rgba(0,0,0,0) 50%, $colorBlueLighten1 50%,  $colorBlue 60%, $colorBlue);
    }

    @include customAnimationFrames(top-right-curtain, $triangle-animation-time, $quick-ease-in, 1, $zano-container-animation-time + $triangle-animation-time, forwards);

    &.animate-in{
        @include customAnimationFrames(open-right-curtain, $triangle-animation-time, $quick-ease-in, 1, null, forwards);
    }

    &.animate-out{
        @include customAnimationFrames(close-right-curtain, $triangle-animation-time, $quick-ease-in, 1, null, forwards);
    }
}
@include customKeyFrames(open-right-curtain){
    100%{right:-500px;}
}

@include customKeyFrames(close-right-curtain){
    0%{right:-500px;}
    100%{right:-300px;}
}



$triangleSize:300px;
#bottom-left-triangle{
    @include setSizeAndPosition($triangleSize, $triangleSize, absolute, -1 *$triangleSize, null, null, -1 *$triangleSize, null);
    background: linear-gradient(45deg, #303030, $colorBlueDarken2 20%,  $colorBlueDarken1 49%, $colorBlueLighten1 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0));
    
    &.animate-in{
        @include customAnimationFrames(bottom-left-triangle, 200ms, $quick-ease-in, 1, null, forwards);
    }
}

@include customKeyFrames(bottom-left-triangle){
    100%{
        left:0;
        bottom:0;
    }
}

#top-right-triangle {
    @include setSizeAndPosition($triangleSize, $triangleSize, absolute, null, -1 *$triangleSize, -1 * $triangleSize, null, null);
    background: linear-gradient(45deg, rgba(0,0,0,0), rgba(0,0,0,0) 50%, $colorBlueLighten1 50%, $colorBlueDarken1 51%, $colorBlueDarken2 80%, #303030);
   
    &.animate-in{
        @include customAnimationFrames(top-right-triangle, 200ms, $quick-ease-in, 1, null, forwards);
    }   
}

@include customKeyFrames(top-right-triangle){
    100%{
        top:0;
        right:0;
    }
}

#zano-container{

    @include setSizeAndPosition(400px, 10px, absolute, 50%, 400px, null, null, -1 * 200px);
    opacity:0;
    background: linear-gradient($colorBlue, $colorBlueDarken1);
    border:1px solid $colorBlueLighten1;
    box-shadow:10px 10px 10px $baseVSBlack;
    overflow:hidden;

    &.animate-in{
        @include customAnimationFrames(zanoContainer, $zano-container-animation-time, $quick-ease-in, 1, null, forwards);
    }
    //@include customAnimationFrames(zanoContainer, $zano-container-animation-time, $quick-ease-in, 1, null, null);
}

@include customKeyFrames(zanoContainer){
    50%{          
        @include setSizeAndPosition($mainContainerWidth, 10px, null, null, 400px, null, null, -1 * 300px);
    }
    100%{
        @include setSizeAndPosition($mainContainerWidth, $mainContainerHeight, absolute, 50%, 200px, null, null, -1 * $mainContainerWidth/2);
        opacity:1;
    }
}

#menu {
    opacity: 0;
    color: white;
    position: absolute;
    top: 200px;
    $indent: 30px;

    @include customAnimationFrames(menu-items-intro, 1s, $quick-ease-in, 1, $zano-container-animation-time + $triangle-animation-time, forwards);

    & ul {
        list-style-type: none;
        padding-left: 20px;
    }

    .item1, .item2, .item3, .item4 {
        margin-bottom: 20px;
        -moz-transition: transform 500ms, color 500ms;
        -o-transition: transform 500ms, color 500ms;
        -webkit-transition: transform 500ms, color 500ms;
        transition: transform 500ms, color 500ms;
        position: relative;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        &:hover {
            cursor: pointer;
 
            -moz-transform: translateX(-1px);
            -ms-transform: translateX(-1px);
            -o-transform: translateX(-1px);
            -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
            color: $colorBlueLighten2;
        }
    }

    .item1 {
        padding-left: $indent * 0;
    }

    .item2 {
        padding-left: $indent * 1;
    }

    .item3 {
        padding-left: $indent * 2;
    }

    .item4 {
        padding-left: $indent * 3;
    }
}

@include customKeyFrames(menu-items-intro){
    100%{
        opacity:1;
    }
}

#current-page{
    color:white;
    padding:10px;
}