@import 'helpers/helperVars.scss';
@import 'helpers/helperMixins.scss';
@import 'mainModule/mainModule.scss';
@import 'mainModule/mainModuleTriangles.scss';
@import 'mainModule/mainModuleCurtains.scss';
@import 'mainModule/mainModuleMenu.scss';
@import 'mainModule/mainModuleContent.scss';


//https://github.com/sass/libsass/issues/353

body{
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(#303030, #444444 45%,  #444444 55%, #303030 );
    height:100%;
    background-repeat: no-repeat;
    background-attachment: fixed; //makes it so that when you scroll, background will not
}


#content{
    color:white;
}

.project-list{ 
    list-style-type:none;
    padding:0;
    & li{height:50px;}
}

#perspective-container{
    perspective:1000px;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
}

#buttons-container{
    position:relative;
    z-index:1000;
}

.project-name{

    &.ng-enter{ //.project .ng-enter
        transition: all 2.5s linear;
        opacity:0;
        margin-left: -10px;

        &.ng-enter-active{
            opacity:1;
            margin-left:0px;
        }
    }

    &.ng-enter-stagger{
        transition-delay:0.5s;
    }
}