<h1>Projects Info</h1>


<div id="left-panel-default" class="panel panel-primary">
    <div class="panel-heading"></div>
    <div class="panel-body"></div>
</div>

<div id="right-panel-default" class="panel panel-primary">
    <div class="panel-heading"></div>
    <div class="panel-body"></div>
</div>

<div id="left-panel" 
     class="panel panel-primary"
     ng-click="vm.movePanelsRight()">
    <div class="panel-heading"></div>
    <div class="panel-body"></div>
</div>

<div id="right-panel" 
     class="panel panel-primary"
     ng-click="vm.movePanelsLeft()">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
    </div>
</div>

<div id="middle-panel" 
     class="panel panel-primary"
     ng-click="vm.movePanels()">
    <div class="panel-heading"></div>
    <div class="panel-body"></div>
</div>