{{vm.message}}

<h1>Whats up</h1>




<div id="zano-container">


    <div id="css_lowerleft_curtain"></div>
    <div id="css_lowerleft_triangle"></div>


    <!--    <div id="bottom-left-curtain"></div>-->
    <!--<div id="bottom-left-triangle"></div>-->
    
    <div id="css_topright_curtain"></div>
    <div id="css_topright_triangle"></div>

    <!--<div id="top-right-curtain"></div>
    <div id="top-right-triangle"></div>-->

    <div id="menu">
        <ul>
            <li class="item1">HOME</li>
            <li class="item2">MUSIC</li>
            <li class="item3">RESUME</li>
            <li class="item4">PROJECTS</li>
        </ul>
    </div>
</div>