<p>Not Impressed</p>

<div id="impress" class="impress-not-supported">

    <div class="fallback-message">
        <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
        <p>For the best experience please use the latest <b>Chrome</b> or <b>Safari</b> browser. Firefox 10 (to be released soon) will also handle it.</p>
    </div>

    <div class="step slide">
        <q>Welcome To Paulund Impress.JS Presentation</q>
        <p>Here I'm gonna go through all the effects you can use with Impress.js</p>
    </div>

    <div class="step" data-x="1500">
        <h1>Slide to the right</h1>
    </div>

    <div class="step" data-x="-1500">
        <h1>Slide to the left</h1>
    </div>

    <div class="step" data-y="1500">
        <h1>Slide Down</h1>
    </div>

    <div class="step" data-y="-1500">
        <h1>Slide Up</h1>
    </div>

    <div class="step" data-scale="5" data-y="-500" data-x="2000">
        <h1>Make It Bigger</h1>
    </div>

    <div class="step" data-scale="15" data-y="500" data-x="-2000">
        <h1>Make It Even Bigger</h1>
    </div>

    <div class="step" data-z="-1000" data-rotate="90" data-y="700" data-x="-5600">
        <h1>Spinning It Around</h1>
    </div>

    <div class="step" data-rotate="180" data-y="200" data-x="-5600">
        <h1>Still Spinning</h1>
    </div>

    <div class="step" data-rotate="270" data-y="300" data-x="-5070">
        <h1>Still Spinning</h1>
    </div>

    <div class="step" data-rotate="360" data-y="800" data-x="-5070">
        <h1>Still Spinning</h1>
    </div>

    <div class="step" data-rotate="0" data-z="10" data-y="800" data-x="-5070">
        <h1>Back To Normal</h1>
    </div>

    <div id="its-in-3d" class="step" data-rotate="20" data-scale="-10" data-rotate-x="20" data-y="800" data-x="770">
        <h1><b>Playing With 3D</b></h1>
    </div>
    <div class="step" data-rotate="20" data-rotate-x="-45" data-rotate-y="15" data-y="600" data-x="770">
        <h1>Twist It</h1>
    </div>

    <div class="step" data-rotate="2000" data-rotate-x="45" data-rotate-y="30" data-y="600" data-x="870">
        <h1>woooooooohooooooo!!!!</h1>
        <br /><br />
        <small>Dizzy?</small>
    </div>

    <div id="return" class="step" data-rotate="0" data-y="2000" data-x="2000">
        <h2>Return back to the tutorial</h2>
        <p><a href="http://www.paulund.co.uk/no-more-powerpoint-i-have-impress-js">Impress.js Tutorial</a></p>
    </div>

</div>

<div class="hint">
    <p>Use a spacebar or arrow keys to navigate</p>
</div>